.firstPage {
	color: white;
	margin-right: 5px;
}

.arrow {
	width: 40px;
	height: 40px;
}

.dotDot {
	display: inline-flex;
	width: auto;
	text-decoration: none;
	cursor: default !important;
	padding: 0;
}


// @media (max-width: 47.98em) {
// 	.btn:hover{
// 		background-color: unset !important;
// 	}
// }